* {
  margin: 0;
  padding: 0;  
}

body {
    background-image: url('background1.png');     
}

#mainBoard {
    display: grid;
    place-items: center;
    height: 100%;
}

#gameboard {
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.00);
    height: 500px;
    width: 500px;
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 5px;
}

.grid {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(32, 36, 90);
  font-size: 110px;

  display: flex;
  justify-content: center;
  align-items: center;

}

button {
  background-color: red;
  height: 55px;
  width: 55px;
}

#score {
  border: solid 1px red;
  height: 100px;
  width: 200px;
}