* {
  margin: 0;
  padding: 0;
}

body {
    background-image: url('background1.png');     
}

#mainBoard {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

#gameboard {
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.00);
    height: 400px;
    width: 400px;
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 5px;
}

.grid {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(32, 36, 90);
  font-size: 110px;

  display: flex;
  justify-content: center;
  align-items: center;

}

button {
  background-color: red;
  height: 55px;
  width: 162px;
}



#newGame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

#newGame #newGameButton {
  margin-left: 135.667px;
  background-color: rgba(255, 255, 255, 0.877);
  color: rgb(5, 7, 133);
  height: 55px;
  width: 128.667px;
  border-radius: 7px;
}

#newGame #playerChange {
  margin-left: auto;
}

#score {
  margin-top: -15px;
  border-radius: 2px;
  height: 100px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(255, 255, 255, 0.788);;
  
}

#score span {
  height: 100px;
  text-align: center;
  color: rgb(66, 67, 129);
  font-weight: bold;
  font-size: 24px;
}

#score span div {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: rgb(64, 65, 148);
}